# =====================================================
# Dependencies
# =====================================================

**/node_modules/


# =====================================================
# Expo
# =====================================================

**/.expo/
**/.expo-shared/


# =====================================================
# Build / Distribution
# =====================================================

**/dist/
**/build/
**/web-build/


# =====================================================
# Environment variables
# =====================================================

**/.env
**/.env.*
!**/.env.example


# =====================================================
# React Native
# =====================================================

**/.bundle/
**/Pods/


# =====================================================
# Android
# =====================================================

**/.gradle/
**/local.properties/
**/captures/
**/.cxx/
**/android/app/build/
**/android/build/


# =====================================================
# iOS
# =====================================================

**/ios/build/
**/ios/DerivedData/


# =====================================================
# EAS
# =====================================================

**/.eas/


# =====================================================
# Logs
# =====================================================

**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =====================================================
# macOS / Windows
# =====================================================

.DS_Store
**/.DS_Store
Thumbs.db
Desktop.ini


# =====================================================
# IDE / Editors
# =====================================================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.iml


# =====================================================
# Temporary files
# =====================================================

*.tmp
*.temp
*.swp